*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  nav {
    background-color: #c7742b;
    padding: 8px;
  }
  
  nav ul {
    list-style-type: none;
    text-align: right;
    margin: 0.5rem 1.5rem;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 2rem;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
    font-family: 'Noto Sans', sans-serif;
  }

  .search-bar {
    width: 220px;
    height: 30px;
    margin-right: 10px;
    background-color: transparent;
    color: white;
    border-width: 0 0 2px 0;
    border-color: white;
    /* border: none; */
    outline: none;
  }

  .search{
   display: flex;
   flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
    
  }

  .gallery-content{
    margin-top: 15px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
  }

  .gallery-content h2{
    margin-right: 30px;
  }

  .search-bar::placeholder {
    color: rgba(255, 255, 255, 0.74); /* Replace with your desired font color */

  }
  
  